[submodule "pkg/tempallocator"]
	path = pkg/tempallocator
	url = https://github.com/bcrist/Zig-TempAllocator
[submodule "pkg/microbe"]
	path = pkg/microbe
	url = https://github.com/bcrist/microbe
[submodule "pkg/sx"]
	path = pkg/sx
	url = https://github.com/bcrist/Zig-SX
