temp/

# Zig
**/zig-cache/
**/zig-out/

#VS
**/.vscode/

#Ninja
.ninja_log

#Lattice
*.jed
*.ppn
*.rpt
*.stderr
*.stdout
*.log
*.lco
*.fti
*.cmi
*_pin.csv
LCIEdit.dum

#Kicad
**/gerbers/
*-backups/
fp-info-cache
*.kicad_*-bak